:root {
	--bar-height: 90px;
}
.sidebar {
--left-sidebar-item-height: 29px !important;
}

/* Remove Scrollbar */
::-webkit-scrollbar {
	height: 0px !important;
	width: 0px !important;
	background-color: transparent;
}

/**/
.glue-page-header__background-color {
	background-image: none !important;
	background: var(--modspotify_main_bg);
}

/* Notification bar */
#content-wrapper #view-message-bar {
	position: absolute !important;
	width: calc(100% - 160px) !important;
	margin-left: 80px !important;
	border-radius: 0 0 10px 10px !important;
}

/* Small cover Big cover mechanism */
.now-playing.cover-size-transition.active.image-expanded #now-playing-image-small {
    display: none;
}

.now-playing.cover-size-transition.active.image-expanded .cover-image-link-wrapper {
	flex: 0 1 10px;
}

#view-now-playing a.image {
	overflow: visible !important;
}

/*
Change text color in playlist
*/
.tl-explicit .label,
.tl-premium .label,
.tl-cell:not(.tl-number),
.tl-cell a:link,
.tl-highlight {
  color: var(--modspotify_secondary_fg);
}

.card-type-album .card-info-title,
.card-type-track .card-info-title,
.card-type-collection-album .card-info-title,
.card-type-episode .card-info-title {
  	font-size: 15px;
  	font-weight: 900 !important;
	text-align: center !important;
	width: 100% !important;
}

.card-type-album .card-info-subtitle-links,
.card-type-track .card-info-subtitle-links,
.card-type-collection-album .card-info-subtitle-links,
.card-type-episode .card-info-subtitle-links {
	text-align: center !important;
	width: 100% !important;
}

.tracklist-station-container::after {
	background: transparent !important;
}

.GlueHeader__background-overlay {
	background: var(--modspotify_main_bg) !important;
}


/* Spice up Fullscreen mode */
#view-player .album-art .album-art__image {
	border-radius: 30px !important;
	box-shadow: 0 10px 70px rgba(var(--modspotify_rgb_cover_overlay_and_shadow),.5) !important;
}

#view-player .album-art .album-art__image .card-image-content-wrapper,
#view-player .album-art .album-art__image .card-image-content-wrapper .card-image {
	border-radius: 0px !important;
}

#video-player .album-art__foreground {
	flex-direction: row;
	text-align: left;
}

#video-player .album-art__background {
	background-color: initial;
}

#video-player .album-art__track-details {
	padding-left: 50px;
	line-height: initial;
}

#video-player .album-art__track-title {
	font-size: 84px;
	margin-top: 0;
	line-height: initial;
}

#video-player .album-art__artist-name {
	font-size: 54px;
	margin-top: 0;
	line-height: initial;
}


/*Spice up search input background*/
.SearchInput {
	color: var(--modspotify_main_fg);
}
.SearchInput__input {
	color: var(--modspotify_secondary_fg);
	background-color: #141414 !important;
	border-radius: 4px !important;
	padding-left: 34px;
}

.sidebar:hover .sidebar-navbar.sidebar-scroll-element {
	opacity: 0.4!important;
}


/* No circle around player play button */
.button-play,
.view-player .player-controls-container .controls .button-play.button-play:after {
    box-shadow: 0px 0px!important;
}

/* Makes play button gray */
.view-player .player-controls-container .controls .button-play
{
    color: var(--modspotify_secondary_fg);
}

/* Bigger font for play button */
#player-button-play::before{
    font-size: 25px !important;
}

/* Centering play button */
#player-button-play{
    margin-left: -5px !important;
}

/*Hide cover image overlay*/
.card-overlay {
	visibility: hidden !important;
}

.card-image-hit-area .card-button-add,
.card-image-hit-area .card-button-play,
.card-image-hit-area .card-button-more,
.Card__image-hit-area .card-button-add,
.Card__image-hit-area .card-button-play,
.Card__image-hit-area .card-button-more,
.Card__image-hit-area .Card__play-button,
.Card__image-hit-area .Card__add-button,
.Card__image-hit-area .Card__more-button,
.Card__image-hit-area .Card__overlay  {
	transition-property: all !important;
	transition-duration: 0.3s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	opacity: 1 !important;
}

.glue-page-header__content .glue-page-header__image-inner {
	border-radius: 10px;
	box-shadow: unset !important;
}

.glue-page-header__full-description-overlay {
	box-shadow: unset !important;
}

.card-placeholder-wrapper {
	background: transparent !important;
}

/* Remove section divider */
.section-divider {
	border-bottom: 0 !important;
}

/* [WINDOWS] Change Profile menu horizontal position */
body.body-container--windows .content-top-bar__profile-menu-button .dropdown {
	right: 190px !important;
}

body:not(.body-container--windows) .content-top-bar__profile-menu-button .dropdown {
	right: 5px !important;
}

/* Home page */
.GlueCarousel__grid-wrapper::-webkit-scrollbar-thumb {
	display: none;
}

.GlueCard__info-wrapper,
.Card__info-wrapper {
	margin-bottom: 30px;
}

.card-horizontal-interior-wrapper .card-info-  {
	text-align: start !important;
}

.tl-row.selected:hover .tl-cell {
	background: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
}

.GlueTableRow--is-selected {
	background-color: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
}

.tracklist-podcast .tl-progress .row-progress__bar {
    background-color: var(--modspotify_main_fg);
}

.Header__background-color{
	background-color: var(--modspotify_main_bg) !important;
}

.Button--style-green,
.button.button-green, .button.button-white {
	border-radius: 4px;
	color: var(--modspotify_main_bg) !important;
}

.glue-page-header:not(.glue-page-header--album):not(.glue-page-header--playlist):not(.glue-page-header--artist):not(.glue-page-header--dailymix):not(.glue-page-header--user):not(.glue-page-header--show)
	.glue-page-header__content-inner .glue-page-header__title-text,
.HomeHeader .Header__content-inner .Header__title-text-inner,
.MadeForYouHeader .Header__content-inner .Header__title-text-inner,
.RecentlyPlayedPage__header .Header__content-inner .Header__title-text-inner {
	background-color: var(--modspotify_main_bg);
	/* padding: 5px 20px;
	border: 5px solid var(--modspotify_main_fg) !important;
	border-radius: 6px;
	box-shadow: 0 4px 12px 0 rgba(var(--modspotify_rgb_cover_overlay_and_shadow),.2); */
	text-transform: uppercase;
}

.glue-page-header.glue-page-header--album .glue-page-header__content-inner .glue-page-header__title,
.glue-page-header.glue-page-header--artist .glue-page-header__content-inner .glue-page-header__title,
.glue-page-header.glue-page-header--dailymix .glue-page-header__content-inner .glue-page-header__title,
.glue-page-header.glue-page-header--playlist .glue-page-header__content-inner .glue-page-header__title {
	margin-top: 10px;
}

span.glue-page-header__title-text {
	color: var(--modspotify_main_fg);
}

.glue-page-header .glue-page-header__content-inner .glue-page-header__button {
	margin-top: 40px;
}

.glue-page-header__content-inner,
.glue-page-header__data,
.glue-page-header__title,
.Header__content-inner,
.Header__data,
.Header__title,
.Header__title-text,
.Header__title-text-inner {
	overflow: visible !important;
}

/* Small tooltip */
#tooltip {
	box-shadow: 0 0 10px rgba(0,0,0,0.2) !important;
	border-radius: 5px !important;
	border: 2px solid var(--modspotify_main_fg);
	padding: 10px 10px;
}

.tooltip-arrow-top, .tooltip-arrow-bottom {
	display: none !important;
}

.lyrics-lines-container,
.message-container {
	color: #FFFFFF !important;
}



/*Force player bar to has fixed height*/
.view-player {
	height: var(--bar-height) !important;
	border-top: 0;
}

.view-player .now-playing {
	overflow: unset;
}

.view-player .cover-image-container {
	position: fixed !important;
	left: 0;
	bottom: 0;
}

.view-player .now-playing .cover-image-link,
.view-player .now-playing .cover-image-link figure {
	width: var(--bar-height);
	height: var(--bar-height);
}

#now-playing-image-small .cover-image {
    width: var(--bar-height);
    height: var(--bar-height);
}

.view-player .now-playing .cover-image-link-wrapper {
	flex: 0 1 calc(var(--bar-height) + 8px);
}

.text-container {
	z-index: 3;
}

.view-player .now-playing-container .button-add {
	color: var(--modspotify_main_fg) !important;
}